<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>爬虫测试</title>
    <script src="https://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
</head>
<body>
<center><h1>爬虫测试</h1>
    <form>
        <input type="text" id="url">
        <button type="button" onclick="spiderRun()">点击运行</button>
    </form>
</center>
<script>
    function spiderRun() {
        var url = $("#url").val();
        $.ajax({
            url:"spider_run",
            method:"post",
            datatype:"json",
            data:{
                "url": url
            },
            success:function(result){
                if(result){
                    alert("搜索完毕！")
                }
            }
        })
    }
</script>
</body>
</html>